
<br><%= render '/shared/mtn_header' %>

<% cache cache_key_for_mountain(@mountain) do %>

<%= render '/shared/mtn_stats' %>

  <iframe
    width="600"
    height="300"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/view?key=<%= ENV['google_maps_api_key'] %>&center=<%= @mountain.latitude %>,<%= @mountain.longitude %>&zoom=12" allowfullscreen>
  </iframe>

<%= render '/shared/mtn_vert_section' %><br>

<%= render '/shared/mtn_table' %>

  <% end %>
</div>
