<div class="ui input">
  <%= form_for(@user) do |f| %>
    <%= f.label :snow_preference %>
    <%= f.text_field :snow_preference %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.submit "Save Changes", class: "btn" %>
  <% end %>
</div>
