<div class="background">
  <div class="header-text">
    <% if !current_user %>
    <h1 class="ui inverted center aligned white jumbo-font outline">
      Don't Miss Another Powder Day
    </h1>
    <h3 class="ui center aligned os300i white outline sub-header">Free snow alerts for your favorite mountains.</h3>
      <%= link_to login_path, class: "ui facebook huge button nudge-down home-btn" do %>
        <i class="facebook icon"></i> Login with Facebook
      <% end %>
      <% else %>
      <div class="ui container">
        <h1 class="ui inverted center aligned white jumbo-font outline">
          Add your favorite mountains to receive snow alerts.
        </h1>
        <h3 class="ui center aligned os300i white outline sub-header">Search or browse all mountains in North America</h3>
        <%= link_to search_path, class: "ui huge blue button nudge-down home-btn" do %>
        <i class="search icon"></i>Search
        <% end %>
        <%= link_to mountains_path, class: "ui huge green button nudge-down home-btn" do %>
        <i class="list icon"></i>Browse
        <% end %>
        <% end %>
      </div>
  </div>
</div>

<div class="ui container resorts">
<h3 class="ui horizontal divider header">
    Featured Areas
</h3>
  </div>
</div>

<div class="feature alternate ui stripe vertical segment">
  <div class="ui three column center aligned divided relaxed stackable grid container">
    <div class="row">
      <div class="column">
        <h2 class="ui icon header">
          <%= image_tag("vail-logo.png", class: "ui resort-logo icon")  %>
          Vail
        </h2>
        <%= link_to "View Forecast", mountain_path(Mountain.find_by_name("Vail")), class: "ui large button primary" %>
      </div>
      <div class="column">
        <h2 class="ui icon header">
          <%= image_tag("wp-logo.png", class: "ui resort-logo icon")  %>
          Winter Park
        </h2>
        <%= link_to "View Forecast", mountain_path(Mountain.find_by_name("Winter Park")), class: "ui large button green" %>
      </div>
      <div class="column">
        <h2 class="ui icon header">
          <%= image_tag("northstar-logo.png", class: "ui resort-logo icon")  %>
          Northstar
        </h2><br>
        <%= link_to "View Forecast", mountain_path(Mountain.find_by_name("Northstar")), class: "ui large button primary" %>
      </div>
    </div>
  </div>
</div>
